h1 {
    text-align: center;
}

label {
    margin-bottom: 10px;
    font-weight: 500;
}

label::before {
    content: '😷 ';
}

label::after {
    content: ' 🏥';
}

/* #select {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-color: #0dcaf0;
    border-width: 2px;
} */

#select {
    border: none;
}

#content-box {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#input-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: #0dcaf0;
    border-width: 2px;
}

#submit-box {
    display: flex;
    justify-content: center;
}

#submit-btn {
    display: block;
}