<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- stylesheet in the static/css/ directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Diagnosis Checker</title>
</head>
<body>
    <div>
        <h1>Doctor's input.</h1>
        <form action="{{ url_for('get_user_in') }}" method="post">
            <label for="f_user_in">Enter your symptoms below:</label>
            <br><br>
            <textarea id="user_in" name="f_user_in" placeholder="runny nose, cough, fever" rows="4" cols="50"></textarea>
            <br><br>
            <label for="f_went_to_doc">Did you go to a doctor?</label>
            <select id="went_to_doc" name="f_went_to_doc">
                <option id="yes" value="yes">Yes</option>
                <option id="no" value="no">No</option>
            </select>
            <br><br>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
</body>
</html>